.Snackbar {
  --initial: translateY(120%);
  --active: translateY(0);
  --transtion: 0.3s all ease;
  --white: white;
  --ok: green;
  --error: red;
  --info: blue;

  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: var(--z-snackbar);
  box-sizing: border-box;
  padding: var(--space-large) 0;
  transition: var(--transition);
  transform: var(--initial);
  text-align: center;
}

.container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.btn {
  padding: var(--space-base);
  position: absolute;
  right: 0;
}

.svg {
  width: 14px;
  height: 14px;
  fill: var(--white);
}

.content {
  color: var(--white);
  text-align: center;
  flex-grow: 1;
}

._active {
  transform: var(--active);
}
._ok {
  background: var(--ok);
}

._error {
  background: var(--error);
}

._info {
  background: var(--info);
}
