:root {
  /* border */
  --border: 1px solid;
  --border-default: var(--border) var(--grey-1);
  --border-focus: var(--border) var(--primary);
  --border-error: var(--border) var(--error);

  /* box-shadow */
  --box-shadow: inset 0 -1px 0 0 var(--grey-1);

  /* transition */
  --transition-default: 0.2s all ease;
}
