:root {
  /* radius */
  --radius-base: 3px;
  --radius-half: 50%;

  /* space */
  --space-small: 7px;
  --space-base: 10px;
  --space-large: 25px;

  --zero: 0;

  /* screen */
  --screen-small: 68vw;
  --screen-base: 90vw;
  --screen-full: 100vw;
}
