:root {
  /* radius */
  --radius-base: 3px;
  --radius-half: 50%;

  /* space */
  --space-small: 7px;
  --space-base: 10px;
  --space-large: 25px;
  --space-extra: 34px;

  --zero: 0;

  /* template */
  --header-height: 64px;
}
