:root {
  /* radius */
  --radius-base: 3px;
  --radius-half: 50%;

  /* space */
  --space-small: 7px;
  --space-base: 10px;
  --space-large: 25px;

  --zero: 0;

  /* device */
  --device-xs: 600px;
  --device-sm: 768px;
  --device-md: 960px;
  --device-lg: 1280px;
  --device-xg: 1600px;

  /* screen */
  --screen-small: 68vw;
  --screen-base: 90vw;
  --screen-full: 100vw;
}
